#right-side {
    display: inline;
    float: left;
    text-align: right;
    border-style: solid;
    border-color: firebrick;
    padding: 100px;
    width: 1000px;
}

#profile-pic {
    float: left;
    width: 500px;
}

#profile-name {
    margin-left: 50px;
    margin-top: 100px;
    color: white;
}

#profilepic {
    height: 500px;
    width: 500px;
    border-radius: 100px;
    ;
}

#arroba {
    margin-left: 400px;
    margin-top: 200px;
    color: white;
}

#icons {
    margin-left: 8cm;
    margin-top: 2cm;
}

#icon1 {
    margin-left: 2cm;
    margin-right: 2cm;
}

#icon2 {
    margin-right: 2cm;
}

body {
    background: black;
}